body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Teko', sans-serif;
    color: brown;
    margin-right: 500 px;

}

.width-length {
    width: 70%;
}

h1 {
    font-size: 60px;
    color: blueviolet;
}

.text-center {
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    width: 100px;

}

.container {
    display: flex;
}

.top-banner {
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 2000px;
    height: 500px;
    padding-left: 50px;
}

.dream-big {
    text-align: center;
}



.block-design-1 {
    display: inline-flex;
    box-shadow: 5px 5px 5px 10px black;
    border-radius: 10px 10px 10px;
    padding: 10px 10px 10px;
    margin: 30px 30px;
}

.block-design-2 {

    display: inline-flex;
    box-shadow: 5px 5px 5px 10px black;
    border-radius: 10px 10px 10px;
    padding: 10px 10px 10px;
    margin: 30px 30px;

}

.block-design-3 {
    display: inline-flex;
    box-shadow: 5px 5px 5px 10px black;
    border-radius: 10px 10px 10px;
    padding: 10px 10px 10px;
    margin-inline: 30px 30px;

}

.block-design-4 {
    display: inline-flex;
    box-shadow: 5px 5px 5px 10px black;
    border-radius: 10px 10px 10px;
    padding: 10px 10px 10px;
    margin: 30px 30px;
}

.block-design-5 {
    display: inline-flex;
    box-shadow: 5px 5px 5px 10px black;
    border-radius: 10px 10px 10px;
    padding: 10px 10px 10px;
    margin: 30px 30px;
}

.text-center-2 {
    text-align: center;

}

.text-center-3 {
    text-align: center;
}

.box-1 {

    display: inline-flexbox;
    border-radius: 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;



}

.box-2 {
    display: inline-flexbox;
    border-radius: 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;



}

.box-3 {
    display: -ms-inline-flexbox;
    border-radius: 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;

}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}

.half {
    width: 50%;
    height: 500px;
    position: relative;
    top: 50px;




}

.flex {
    display: flex;
    box-sizing: border-box;

    top: 50px;

}

.half-2 {
    width: 50%;
    top: 50px;
    margin-bottom: 10px;
    display: flex;
    padding-left: 400px;


}

.middle {
    text-align: center;
}

.background5 {
    background-color: blanchedalmond;

}

::placeholder {
    color: whitesmoke;

}

input[type=text] {
    background-color: blue;
    padding: 6px;
    border: 8px;
    border-radius: 10px;

}

.BACKGROUND-IMAGE {
    background-color: black;
}